.space-container {
  border-right: 2px solid black; 
  border-bottom: 2px solid black;
  border-radius: 4px;
}

.space-container:last-child, .space-container:nth-child(3), .space-container:nth-child(6), .space-container:nth-child(9) {
  border-right: none; 
}

.space-container:nth-child(7), .space-container:nth-child(8), .space-container:nth-child(9) {
  border-bottom: none; 
}

.space-btn {
  border: none;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  cursor: pointer;
  height: 100%;
  width: 100%;
}